body{margin:0;
text-align: center;
font-family: cursive;}


.top{background-color: #8fc0a9;
  position: relative;
  padding-top: 100px;
}


.bottomcloud{
  position: absolute;
  left: 150px;
  bottom: 300px;
}


.topcloud{
  position: absolute;
  right: 150px;
  top:50px;
}


.middle{background-color: #838383;
  padding-top: 30px;
  margin-top: 0;
position:relative;
}
.table{margin: 0 auto 0 auto;}


.bottom{padding-top: 50px;
  margin-top: 0;
background-color: #cedebd;
  }
